<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <img src="./assets/images/CarrickLogo.png" alt="Carrick logo" class="rounded">
  <mat-toolbar class="notice-toolbar">Carrick Scripture Union</mat-toolbar>
  <mat-toolbar class="notice-toolbar">Every Tuesday 3p.m. 4p.m.</mat-toolbar>
</div>
<br>
<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
  <a routerLink="/bibleVerses" routerLinkActive="active">
    <mat-card class="container narrow-card">
      <div class="smalloverlay">
        <div class="text">
          <mat-icon>stars</mat-icon>
        </div>
      </div>
      <mat-card-header>
        <mat-card-title>
          Bible verses
        </mat-card-title>
        <mat-card-subtitle>
          See bible verses
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/bible.jpg" alt="Bible Verses">
    </mat-card>
  </a>
  <a routerLink="/videos" routerLinkActive="active">
    <mat-card class="container narrow-card">
      <div class="smalloverlay">
        <div class="text">
          <mat-icon>stars</mat-icon>
        </div>
      </div>
      <mat-card-header>
        <mat-card-title>
          Videos
        </mat-card-title>
        <mat-card-subtitle>
          See bible videos
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/videoicon.jpg" alt="Videos">
    </mat-card>
  </a>

  <a routerLink="/quiz" routerLinkActive="active">
    <mat-card class="container narrow-card">
      <div class="smalloverlay">
        <div class="text">
          <mat-icon>stars</mat-icon>
        </div>
      </div>
      <mat-card-header>
        <mat-card-title>
          Quiz
        </mat-card-title>
        <mat-card-subtitle>
          See what the latest
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/quiz.jpg" alt="Quiz">
    </mat-card>
  </a>
  <a href="https://www.wondersurf.com">
    <mat-card class="container narrow-card">
      <div class="smalloverlay">
        <div class="text">
          <mat-icon>stars</mat-icon>
        </div>
      </div>
      <mat-card-header>
        <mat-card-title>
            Wondersurf
        </mat-card-title>
        <mat-card-subtitle>
          Play games
        </mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image src="./assets/images/Wondersurf.jpg" alt="Wondersurf">
    </mat-card>
  </a>
</div>
