<mat-card>
    <mat-card-title>
      <mat-icon color="white">info</mat-icon>
      Parent Information
    </mat-card-title>

    <mat-label>
      <p>Dear Parent,</p>
      <br>
      <p> All children should meet at the P3/4 cloakroom at 3 o’clock.</p>
      <p>SU takes place in Miss Irvine’s room and everyone is welcome.</p>
      <p>We are looking forward to singing, learning a memory verse, hearing a Bible story and battling over a quiz.</p>
      <p>SU finishes at 4pm and children in P3 or P4 must be met at the usual P3/4 door.</p>
      <p>P5 – P7 pupil swill be allowed to walk down the path as usual.</p>
      <br>
      <p>Please complete the permission slip below and return to Miss Irvine or Mrs Gorman</p>
      <p>Looking forward to another great year of Scripture Union</p>
      <p>Miss Irvine</p>
      <p>Mrs Gorman</p>
    </mat-label>
    <mat-divider></mat-divider>
    <br>
    <mat-label>
      <p>_________________ has my permission to attend Scripture Union.</p>
      <p>At 4 o’clock I will be at the P3/4 door/they will go to pm club/they are in P5-P7 and they will walk down the path. (Please delete as appropriate.)</p>
      <p>Signed: _________________           Date:____________</p>

    </mat-label>
  </mat-card>
